*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    color: #1b1b1b;
    font-size: 14px;
}

a,
a:visited,
a:link {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.image-size {
    display: block;
    height: 350px;
    width: 500px;
}

.nav-layout {
    display: flex;
    justify-content: space-between;
}

.nav-link:hover {
    text-decoration: underline;
}

.functional-button {
    border: 1px solid #1b1b1b;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: white;
}


.university-description {
    max-width: 400px;
}

