@{
    ViewData["Title"] = "Home Page";


    <div class="d-flex justify-content-center gap-5 mx-auto align-items-center ">

        <div class="d-flex flex-column gap-3">
        <image class="image-size" src="images/university.webp">
        </image><image class="image-size" src="images/oxford1.jpg">
        </image>
        </div>
        <div class="university-description">
            <h1 class="text-center"> Oxford </h1>
            <p>
                Oxford, a city steeped in history and intellectual prowess, stands as a beacon of academic excellence and cultural richness. Nestled in the heart of England, this ancient city is synonymous with the world-renowned University of Oxford, one of the oldest and most prestigious educational institutions globally.
                <br />The charming streets of Oxford are lined with architectural marvels spanning centuries, from the medieval spires of churches to the iconic Radcliffe Camera and the grandeur of colleges like Christ Church and Magdalen. Each cobblestone pathway whispers tales of scholars, poets, and visionaries who once roamed these hallowed grounds, contributing to the city's enduring legacy.
            </p>
        </div>
        
    </div>
}